.topbar {
    background-color: rgb(3, 3, 3, 0.8);
    width: 100%;
    height: 70px;
    z-index: 9999;
    top: 0;
    position: fixed;
}

.nav-link {
    color: white;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: 1rem;
    text-decoration: none;
}

.logo {
    color: crimson;
}