.portfolio {
    overflow: hidden;
    position: relative;
    transition: all .3s east-out;
    align-items: center;
}

.row.no-padding [class*=col-] {
    padding: 0;
}

.portfolio img {
    max-width: 100%;
    transition: transform .5s ease;
    overflow: hidden;
}

.portfolio img:hover {
    transform: scale(1.1);
    cursor: zoom-in;
    opacity: 0.3;
}


/*portfolio  card hover description effect*/

.portfolio .description {
    overflow: hidden;
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: crimson;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.portfolio .description:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.portfolio .description h5 {
    margin: 0 0 1rem;
    opacity: 0;
    transform: translateY(0rem);
    transition: all 0.3s ease-out;
}

.portfolio .description p {
    transform: translateY(0rem);
    opacity: 0;
    transition: all 0.3s ease-out;
}

.portfolio .description a {
    color: crimson;
    transform: translateY(20rem);
    opacity: 0;
    transition: all 0.3s ease-out;
}

.portfolio .description a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.portfolio:hover .description h5 {
    opacity: 1;
    transform: translateY(7rem);
}

.portfolio:hover .description p {
    opacity: 1;
    transform: translateY(7rem);
}

.portfolio:hover .description a {
    opacity: 1;
    transform: translateY(10rem);
}