        /* navbar */
        
        .navbar {
            text-transform: uppercase;
            letter-spacing: .1rem;
            font-size: 0.9rem;
            text-align: center;
            background: rgba(0, 0, 0, .9)!important;
        }
        
        .animated-icon {
            width: 30px;
            height: 20px;
            position: relative;
            margin: 0px;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .5s ease-in-out;
            -moz-transition: .5s ease-in-out;
            -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
            cursor: pointer;
        }
        
        .animated-icon span {
            display: block;
            position: absolute;
            height: 3px;
            width: 100%;
            border-radius: 9px;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;
        }
        
        .animated-icon span {
            background: white;
        }
        
        .animated-icon span:nth-child(1) {
            top: 0px;
        }
        
        .animated-icon span:nth-child(2) {
            top: 7px;
        }
        
        .animated-icon span:nth-child(3) {
            top: 14px;
        }
        
        .animated-icon.open span:nth-child(1) {
            top: 11px;
            -webkit-transform: rotate(135deg);
            -moz-transform: rotate(135deg);
            -o-transform: rotate(135deg);
            transform: rotate(135deg);
        }
        
        .animated-icon.open span:nth-child(2) {
            opacity: 0;
            left: -60px;
        }
        
        .animated-icon.open span:nth-child(3) {
            top: 11px;
            -webkit-transform: rotate(-135deg);
            -moz-transform: rotate(-135deg);
            -o-transform: rotate(-135deg);
            transform: rotate(-135deg);
        }
        
        .navbar-toggler,
        .navbar-toggler:hover,
        .navbar-toggler:active,
        .collapsed:active {
            border: none;
            background: rgba(0, 0, 0, 1);
            box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
        }
        
        .navbar-brand:hover {
            color: rgb(45, 100, 11)!important;
        }
        
        .navbar-nav li {
            padding: right 0.7em;
        }
        
        .navbar-dark .navbar-nav .nav-link {
            color: white;
            padding-top: .8rem;
        }
        
        .navbar-dark .navbar-nav .nav-link:active,
        .navbar-dark .navbar-nav .nav-link:hover {
            color: crimson!important;
        }
        
        @media screen and (max-width:767px) {
            .navbar-nav {
                align-items: center;
                height: 100vh;
                width: 100%;
                top: 8vh;
                font-size: 1.5rem;
            }
            .nav-item {
                opacity: 1;
                padding: 4rem;
                overflow: hidden;
            }
            .nav-link {
                padding: 4rem;
                overflow: hidden;
            }
            @keyframes navItemFade {
                from {
                    opacity: 0;
                    transform: translateY(5rem);
                }
                to {
                    opacity: 1;
                    transform: translateY(3rem);
                }
            }
        }
        
        @media screen and (min-width:767px) {
            #openButton {
                display: none;
            }
            #closeButton {
                display: none;
            }
        }