        /* navbar */
        
        .navbar {
            text-transform: uppercase;
            letter-spacing: .1rem;
            font-size: 0.9rem;
            text-align: center;
            background: rgba(0, 0, 0, .9)!important;
        }
        
        button {}
        
        .navbar-collapse,
        .show {
            border: none;
        }
        
        .navbar-toggler,
        .navbar-toggler:hover,
        .navbar-toggler:active,
        .collapsed:active {
            border: none;
            background: rgba(0, 0, 0, 1);
            box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
        }
        
        .navbar-brand:hover {
            color: rgb(45, 100, 11)!important;
        }
        
        .navbar-nav li {
            padding: right 0.7em;
        }
        
        .navbar-dark .navbar-nav .nav-link {
            color: white;
            padding-top: .8rem;
        }
        
        .navbar-dark .navbar-nav .nav-link:active,
        .navbar-dark .navbar-nav .nav-link:hover {
            color: crimson!important;
        }
        
        @media screen and (max-width:767px) {
            .navbar-nav {
                align-items: center;
                height: 100vh;
                width: 100%;
                top: 8vh;
                font-size: 1.5rem;
            }
            .navbar-toggler:active,
            .navbar-toggler {
                border: none;
            }
            .nav-item {
                opacity: 1;
                padding: 4rem;
            }
            .nav-link {
                padding: 4rem;
            }
            @keyframes navItemFade {
                from {
                    opacity: 0;
                    transform: translateY(5rem);
                }
                to {
                    opacity: 1;
                    transform: translateY(3rem);
                }
            }
        }
        
        @media screen and (min-width:767px) {
            #openButton {
                display: none;
            }
            #closeButton {
                display: none;
            }
        }