:root {
    --color-white: #ffffff;
    --color-lightblue: rgb(3, 187, 190);
    --color-blue: rgba(7, 138, 161, 0.8);
    --color-green: #37af65;
    --color-grey: #d8d8d8;
    --color-black: #272626;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    position: relative;
}

.jumbotron {
    margin: 0;
    padding: 1rem;
    background-image: grey;
}

.row-content {
    margin: 0;
    padding: 2rem;
    border-bottom: 1px ridge;
    justify-content: center;
}

.container-fluid {
    margin-left: 0px !important;
    margin-right: 0px !important;
    justify-content: center;
    border-bottom: 1px ridge;
}

.header-bar {
    background: #444649;
    height: 4px;
    margin: 25px 0 30px 0;
    width: 70px;
}


/* Devices under 1201px (xl) */

@media (max-width: 1201px) {
    .portfolio .description h5 {
        margin: 0 0 1rem;
        opacity: 0;
        transform: translateY(0rem);
        transition: all 0.3s ease-out;
    }
    .portfolio .description p {
        transform: translateY(0rem);
        opacity: 0;
        transition: all 0.3s ease-out;
    }
    .portfolio .description a {
        color: crimson;
        transform: translateY(16rem);
        opacity: 0;
        transition: all 0.3s ease-out;
    }
    .portfolio .description a:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }
    .portfolio:hover .description h5 {
        opacity: 1;
        transform: translateY(5rem);
    }
    .portfolio:hover .description p {
        opacity: 1;
        transform: translateY(5rem);
    }
    .portfolio:hover .description a {
        opacity: 1;
        transform: translateY(8rem);
    }
}


/* Devices under 990.98px (md) */

@media (max-width: 990.98px) {
    .portfolio .description h5 {
        margin: 0 0 1rem;
        opacity: 0;
        transform: translateY(0rem);
        transition: all 0.3s ease-out;
    }
    .portfolio .description p {
        transform: translateY(0rem);
        opacity: 0;
        transition: all 0.3s ease-out;
    }
    .portfolio .description a {
        color: crimson;
        transform: translateY(16rem);
        opacity: 0;
        transition: all 0.3s ease-out;
    }
    .portfolio .description a:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }
    .portfolio:hover .description h5 {
        opacity: 1;
        transform: translateY(5rem);
    }
    .portfolio:hover .description p {
        opacity: 1;
        transform: translateY(5rem);
    }
    .portfolio:hover .description a {
        opacity: 1;
        transform: translateY(6rem);
    }
}


/* Devices under 763.98px (md) */

@media (max-width: 763.98px) {
    .portfolio .description h5 {
        font-size: 1.7rem;
        margin: 0 0 1rem;
        opacity: 0;
        transform: translateY(0rem);
        transition: all 0.3s ease-out;
    }
    .portfolio .description p {
        font-size: 1.5rem;
        transform: translateY(0rem);
        opacity: 0;
        transition: all 0.3s ease-out;
    }
    .portfolio .description a {
        font-size: 1.5rem;
        color: crimson;
        transform: translateY(20rem);
        opacity: 0;
        transition: all 0.3s ease-out;
    }
    .portfolio .description a:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }
    .portfolio:hover .description h5 {
        opacity: 1;
        transform: translateY(7rem);
    }
    .portfolio:hover .description p {
        opacity: 1;
        transform: translateY(7rem);
    }
    .portfolio:hover .description a {
        opacity: 1;
        transform: translateY(14rem);
    }
}